table {
  margin-left: 20px;

  border-collapse: collapse;
  tr {
    &:nth-child(2n) {
      background-color: lightgray;
    }
    &:hover {
      background-color: lightblue;
    }
  }

  th,
  td {
    padding: 3px 8px;
    border-bottom: 2px solid gray;
  }

  td {
    border-bottom-width: 1px;
  }
}
